@charset "UTF-8";
/* CSS Document */
@keyframes line1go{
	0% {
		-webkit-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-o-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		top: 1px;
		width: 16px;

	}
	10%{
		top: 7px;
		width: 18px;
	}
	80%{
		top: 7px;
		width: 18px;
	}
	100% {
		top: 7px;
		width: 18px;
		-webkit-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
}

@keyframes line1goB{
	0% {
		top: 7px;
		width: 18px;
		-webkit-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	20% {
		top: 7px;
		width: 16px;
		-webkit-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-o-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	80%{
		top: 1px;
		width: 16px;
	}
	100% {
		top: 1px;
		width: 16px;
	}
}

@keyframes line2go{
	0% {
		opacity: 1;
	}
	10%{
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes line2goB{
	0% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}


@keyframes line3go{
	0% {
		-webkit-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-o-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		top: 13px;
		width: 16px;

	}
	10%{
		top: 7px;
		width: 18px;
	}
	80%{
		top: 7px;
		width: 18px;
	}
	100% {
		top: 7px;
		width: 18px;
		-webkit-transform: rotateZ(-45deg);
		-ms-transform: rotateZ(-45deg);
		-o-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
}

@keyframes line3goB{
	0% {
		top: 7px;
		width: 18px;
		-webkit-transform: rotateZ(-45deg);
		-ms-transform: rotateZ(-45deg);
		-o-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
	20% {
		top: 7px;
		width: 16px;
		-webkit-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-o-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	80%{
		top: 13px;
		width: 16px;
	}
	100% {
		top: 13px;
		width: 16px;
	}
}







